[project]
	description = Spring Boot Web Service Sample
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/phanees
[access "refs/for/refs/*"]
	read = group user/phanees
	push = group user/phanees
	label-Code-Review = -2..+2 group user/phanees
	label-Verified = -1..+1 group user/phanees
	rebase = group user/phanees
	removeReviewer = group user/phanees
	submit = group user/phanees
[access "refs/heads/*"]
	read = group user/phanees
	create = group user/phanees
	push = +force group user/phanees
	pushMerge = group user/phanees
[access "refs/tags/*"]
	push = group user/phanees
	push = +force group user/phanees
