[project]
	description = Spring Boot Web Service Sample
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Phanees Mudiganti (phanees)
[access "refs/for/refs/*"]
	read = group user/Phanees Mudiganti (phanees)
	push = group user/Phanees Mudiganti (phanees)
	label-Code-Review = -2..+2 group user/Phanees Mudiganti (phanees)
	label-Verified = -1..+1 group user/Phanees Mudiganti (phanees)
	rebase = group user/Phanees Mudiganti (phanees)
	removeReviewer = group user/Phanees Mudiganti (phanees)
	submit = group user/Phanees Mudiganti (phanees)
[access "refs/heads/*"]
	read = group user/Phanees Mudiganti (phanees)
	create = group user/Phanees Mudiganti (phanees)
	push = +force group user/Phanees Mudiganti (phanees)
	pushMerge = group user/Phanees Mudiganti (phanees)
[access "refs/tags/*"]
	push = group user/Phanees Mudiganti (phanees)
	push = +force group user/Phanees Mudiganti (phanees)
